/* Zo's  CSS*/

ul {
    list-style: none;

}
/* styles for Li */
li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}
/* styles for card titles  */
.card-title {
    font-size: 20px;
}
/* styles for img size  */
img {
    width: 100px;
    height: 100px;
}
/* styles for five day forecast colors */
.fiveDayColor {
    padding: 20px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;

}

footer{
    text-align: center;
    color: white;
    border: 1px solid black;
    background-color: #1E90FF;
    padding: 5px;x;
    width: 30%;
    position: relative;
    left: 500px;
    top: 60px;
    border-radius: 10px;
  }
  
  footer img{
    width: 30px;
    border-radius: 10p
    height: 30px;
    background: rgb(221, 221, 221);
    border: 1px solid black;
    border-radius: 5px;
  }

  .git-image{
    width:30px;
    height: 30px;
    max-width: auto;
    height:auto;
   }
   
   .linkedin-image{
       width: 30px;
       height: 30px;
       max-width: auto;
       height: auto;
   }
